* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popisn', sans-serif;
}
.clearfix {
    clear: both;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.home {
    color: #edeeed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    background-color: #101010;

}

.logo {
    cursor: default;
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 3s ease forwards;

}

.navbar a {
    display: inline-block;
    font-size: 17px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: #101010 no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    margin: 10px;
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type() {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {

    font-size: 56px;
    font-weight: 700;
    margin: 15px auto;
    margin-left: 10px;
    text-transform: capitalize;
    opacity: 0;
    animation: slideRight 3s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 18px;
    margin-left: 10px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #0ef;
    border-radius: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}

.home-sci a:hover {
    background-color: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}

.main-section__image {
    border-radius: 50% 50% 50% 50%; 
    text-align: right;
    width: 45%;
    height: 78%;
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    z-index: 100;
    padding: 12px 28px;
    

}

.main-section__image img {
    width: 450px;
    height: 450px;
    margin-right: 100px;

}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* -------------------------- Bizning Xizmatlar-------------------------- */
.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: inline-block;
    text-align: center;
    margin: 25px 0 ;
    color: #fe9966;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1s;

}

.card h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;  

}
.pra:nth-child(){
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s; 
}
.card .button{
    margin: 20px;
    background-color: #0ef;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 40px;
    transition: .4s;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    }
.card .button:hover{
    background-color: transparent;
    border: 2px solid #0ef;
    cursor: pointer;
}



@media only screen and (max-width: 375px){
    .header img{
        width: 60px;
    }
    .home{
        padding-top: 500px;
    }
}